scipy==1.7.0
numpy==1.22.4
pandas==1.5.3
pytest==7.2.2
seaborn==0.12.2
scikit-learn==1.0.2.
tokenizers==0.13.3
torch @ https://download.pytorch.org/whl/cu118/torch-2.0.0%2Bcu118-cp39-cp39-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.1%2Bcu118-cp39-cp39-linux_x86_64.whl
torchdata==0.6.0
torchsummary==1.5.1
torchtext==0.15.1
torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.1%2Bcu118-cp39-cp39-linux_x86_64.whl
tqdm==4.65.0
transformers==4.28.1
# for loading the ProtCNN model
tensorflow==2.12.0
